title: Satish's Tech Portfolio
email: emailsofsateesh@gmail.com
description: >-
  Systems-Focused IT Support Specialist
minimal_mistakes_skin: default
search: true

markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Satish Halgi"
  avatar : "assets/images/JPG.png"
  bio    : "Systems-Focused IT Support Specialist"
  location: "Canada"
  links:
    - label: "Phone"
      icon: "fas fa-fw fa-phone"
      url: "tel:+12268992310"

    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:emailsofsateesh@gmail.com"

    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "www.linkedin.com/in/satish-h-428163286.index.html"

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true

  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/
